<div class="ddd">
<div class="container text-center ">
  <div class= "text-center show " >
    <table class="table table-dark">
      <tbody>
        <tr>
          <td class="align-middle">
            <% if @cocktail.photo.present? %>
            <div class="bbc no-repeat">
              <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
            </div>
            <% else %>
            <div class=" gos no-repeat ">
            </div>
            <% end %>
          </td>
        </tr>
        <tr><td class="align-middle"><h2><%= @cocktail.name %></h2></td></tr>
        <% @cocktail.doses.each do |d|%>
        <tr><td class="align-middle"><p><%= d.description %></p></td></tr>
        <tr><td class="align-middle"><p><%= d.ingredient.name %></p></td></tr>
        <tr><td class="align-middle"><%= link_to   raw('<i class="far fa-trash-alt"></i>'), dose_path(d), method: :delete, data: {comfirm: "are you sure"} %>
          <br>
          <% end %>
        </td>
      </tr>
      <tr> <td class="align-middle"> <%= link_to 'Add recipe', new_cocktail_dose_path(@cocktail), class: "btn-danger btn-lg kose " %></td>
    </tr>
    <tr><td class="align-middle"><%= link_to '--list--', cocktails_path, class: "btn-danger btn-lg kose" %></td></tr>
  </tbody>
</table>
</div>
</div>
</div>
