
<div class="container taxt-center">

  <div class= "show text-center" >


<h2><%= @cocktail.name %></h2>


<% @cocktail.doses.each do |d|%>
<p><%= d.description %></p>
<p><%= d.ingredient.name %></p>
<%= link_to 'delete', dose_path(d), method: :delete, data: {comfirm: "are you sure"}, class: "btn-primary" %> <br>

<% end %>

<%= link_to 'Add recipe', new_cocktail_dose_path(@cocktail), class: "btn-primary" %>
<%= link_to 'list', cocktails_path, class: "btn-primary" %>



 </div>

</div>


