<div class="ddd">

<div class="container">
  <div class="orta">
    <ul class="list-group">
      <li class="list-group-item">
        <h1 class="yazi">Ingredients</h1>
      </li>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
      <li class="list-group-item yazi"><%= f.label :description , class: "form-control "  %>
      <%= f.text_field :description, class: "form-control yazi" %></li>
      <li class="list-group-item yazi " >  <%= f.association :ingredient, collection: Ingredient.all, class: "form-control yazi"  %></li>
      <li class="list-group-item yazi">
      <%= f.submit class: "btn btn-primary yazi" %></li>
      <li class="list-group-item yazi"><%= link_to 'turn back', cocktail_path(@cocktail), class: "btn btn-primary yazi" %>  </li>
    <% end %>
    </ul>
  </div>
</div>
</div>
