<div class="ddd">

<div class="container">
  <div class="orta">
    <ul class="list-group">
      <li class="list-group-item">

        <h1>ingredients</h1>
        <%= simple_form_for [@cocktail, @dose] do |f| %>

      </li>
      <li class="list-group-item"><%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %></li>
      <li class="list-group-item">  <%= f.association :ingredient, collection: Ingredient.all  %></li>
      <li class="list-group-item"> <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %></li>
      <li class="list-group-item">   <%= f.association :ingredient, collection: Ingredient.all  %>
      </li>
      <li class="list-group-item">
      <%= f.submit class: "btn btn-primary" %></li>
    </ul>

    <% end %>
  </div>
</div>
</div>
